{{!< default}}

{{#post}}

<!-- start: #authors-page -->
<main id="authors-page" class="main grid-container">
    
    {{> home-blocks/meet-authors}}
    
</main>
<!-- end: #authors-page -->

{{/post}}
