{{!< default}}

<main id="home" class="main grid-container {{#match @custom.home_layout "Masonry"}}{{/match}}">
    
    <div class="epcl-row">
        <!-- start: .content-wrapper -->
        <div class="content-wrapper content">      
            {{#match @custom.home_layout "Masonry"}}
                {{> home-blocks/grid-posts}}
            {{else}}
                {{> home-blocks/classic-posts}}
            {{/match}}                 
        </div>
        <!-- end: .content-wrapper -->

        {{#if @custom.home_authors_carousel}}
            {{> home-blocks/meet-authors}}
        {{/if}}

    </div>

</main>