{{!< default}}

<main id="home" class="main grid-container {{#match @custom.home_layout "Masonry"}}{{/match}}">

     <div class="index-content">
    <div class="bg-box">
    <div style="padding-top: 20px; padding-right: 30px; padding-bottom: 20px; padding-left: 30px;">
        <br>

        <h2>Erin Mikail Staples is a developer experience engineer, stand-up comedian and dog mom living in <a href="https://www.youtube.com/watch?v=07Y0cy-nvAg" class="brooklyn">Brooklyn, NYC🗽</a> by way of <a href="https://www.youtube.com/watch?v=F7F67QGlaaY" class="reno">Reno, NV 🤠.</a></h2>
        <br>

        <h2>In her 9-5, she works as a ✨<i><b> <a href="https://launchdarkly.com/">a Developer Experience Engineer</i></a>✨ </b> at LaunchDarkly.  Her work includes contributions to technical demos and content, faciliating relationships with developer communities,  among other fun shenanigans.
        
        After hours, Erin hosts the <a href="https://cfe.dev/talkshow/devrelish/">DevRel(ish)</a> podcast, and performs and produces comedy in NYC.</h2>
        <br>
        Erin's various shenanigans have taken her to speaking at events like <a href="https://www.youtube.com/watch?v=nx_vJpux_Sg">PyData Berlin</a>, and <a href="https://flickr.com/photos/194697838@N07/53074149630/in/dateposted-public/">PyCon</a>, garnered <a href="https://medium.com/greener-pastures-by-elliot/how-i-went-from-dicking-around-on-the-internet-to-virtual-mall-ceo-66f479135522">Jeff Staple's attention</a>, appeared in <a href="https://www.nytimes.com/2023/07/06/nyregion/artificial-intelligence-comedy.html">The New York Times</a>,  broadcasted across the sound waves on the <a href="https://changelog.com/person/erinmikail">Practical AI podcast</a>, or in <a href="https://soundcloud.com/renostorytellersproject/08-flip-that-life">USA Today's Storytellers Project</a>, exist in the archive of the <a href="https://www.erinmikailstaples.com/president-jesus-2028/">Museum of Alternate History</a> and her mom's dogs's Instagram account. 
        <br>
    </div>
    </div>
    </div>
    
    
    <div class="epcl-row">
        <!-- start: .content-wrapper -->
        <div class="content-wrapper content">      
            {{#match @custom.home_layout "Masonry"}}
                {{> home-blocks/grid-posts}}
            {{else}}
                {{> home-blocks/classic-posts}}
            {{/match}}                 
        </div>
        <!-- end: .content-wrapper -->

        {{#if @custom.home_authors_carousel}}
            {{> home-blocks/meet-authors}}
        {{/if}}

    </div>

</main>