{{#get "posts" limit="3" include="tags" filter="featured:true" as |featured-articles| }}
    {{#if featured-articles}}
        <!-- start: featured-articles -->
        <div class="widget widget_epcl_posts_thumbs bg-box grid-25 tablet-grid-50 mobile-grid-100">
            <h4 class="widget-title title medium bordered">{{t "Featured Articles" }}</h4> 
            {{#foreach featured-articles visibility="all"}}
                {{> widgets/loop-article }}
            {{/foreach}}            
        </div>
        <!-- end: featured-articles -->
    {{/if}}
{{/get}}