<!-- start: .widget -->
<section class="widget widget_text bg-box grid-25 tablet-grid-50 mobile-grid-100">
    {{!-- <h4 class="widget-title title medium bordered">{{t "About Groovy" }}</h4> --}}
    {{> site-logo }}
    <div class="textwidget">        
        <p>Erin Mikail Staples is the funniest developer experience engineer you ever did meet.</p>
        <p>Check out what she's been up to at <a href="https://launchdarkly.com/blog/author/erin-mikail-staples/" target="_blank">LaunchDarkly</a> or <a href="https://erin.cool/m/links">where she's performing</a>next.</p>
    </div>
    <div class="clear"></div>
</section>
<!-- end: .widget -->   