{{#if tags}}               
    <div class="tags">
        {{#primary_tag}}           
            <a href="{{url}}" class="ctag ctag-{{slug}}" data-id="ctag-{{slug}}"><svg><use xlink:href="#tag-decoration"></use></svg>{{name}}</a>
        {{/primary_tag}}
    </div>
{{/if}}